footer {
    text-align: center;
}

h1 {
    font-size: 60px;
    color: black;
    background-color: aqua;
    text-align: center;
}

h2 {
    font-size: 40px;
    color: black;
    background-color: rgb(255, 255, 0);
    text-align: center;
}

img {
    align-items: center;
}

p {
    font-size: 60px;
    color: black;
    background-color: rgb(238, 0, 255);
    text-align: center;
}

